[submodule "modules/mbedtls"]
	path = modules/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "modules/curl"]
	path = modules/curl
	url = https://github.com/curl/curl.git
[submodule "modules/miniaudio"]
	path = modules/miniaudio
	url = https://github.com/mackron/miniaudio.git
